@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
:root {
    --azulzinho: #95E7EE;
    --azul: #07799D;
    --amarelinho: #FEC652;
    --rosinha: #FFE5CB;
  }

*{
    margin: 0;
    font-family: 'Poppins';
}

/*        === Header ===          */
header {
    background-color: #1E2121;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
    height: 10vh;
}
header img {
    height: 42px;
}
#logo img {
    margin-right: 32px;
}

header ul { 
    margin-left: 300px;
}

header li {
    display: inline-block;
}

header a {
    color: var(--amarelinho);
    text-decoration: none;
    border: 2px solid var(--amarelinho);
    margin: 46px;
    padding: 8px;
    border-radius: 50px;
}

header a:hover {
    color: #1E2121;
    transition: 0.3s all;
    background-color: var(--amarelinho);
}

/*        === tela de bem vindo ===          */

#ola {
    height: 90vh;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
    background-color: var(--amarelinho);
    background-image: url("../assets/waveAzul.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#ola img {
    width: 356px;
    height: 432px;
}

#ola h1 {
    font-weight: 500;
    font-size: 72px;
}

#ola h2 {
    font-weight: 400;
    font-size: 32px;
}

/*        === cards ===          */

#card-container {
    background-color: var(--azul);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 72px 0;/* <--- tirar depois */
}

.card {
    background-color: var(--rosinha);
    width: 260px;
    height: 350px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px var(--amarelinho);
}

.card img {
    width: 90%;
    margin-top: 16px;
}

/*        === tela descrição ===          */

#descricao {
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#descricao img {
    margin-bottom: 32px;
}
#descricao p {
    width: 60%;
    margin-bottom: 32px;
}

/*        === tecnologias ===          */

#tecnologias {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    background-color: var(--azul);
}

#linguagens {
    display: flex;
    align-items: center;
    gap: 40px;
}

#tecnologias h3 {
    font-weight: 300;
    font-size: 32px;
}

/*        === footer ===          */

footer {
    background-color: var(--azul);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px;

}

footer i {
    font-size: 32px;
    margin: 8px;
}

footer p {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: black;
}



/*        === scroll bar color ===          */

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: var(--rosinha);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--amarelinho);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--rosinha);  /* creates padding around scroll thumb */
  }
  body {
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: var(--amarelinho) var(--rosinha);   /* scroll thumb and track */
  }
    